.chat-main
    .chat-main_group-info
        .group-info_group-box
            .group-box_group-name
                text
            .group-box_group-member
                Member:yuzuki
        .group-info_group-edit
            <a href="#" class="edit">Edit</a>
    .chat-main_message-list
        .message-list_n-d-t
            .n-d-t_name
                mass
            .n-d-t_date-time
                時間
        .message-list_coments
            こんにちは！
        .message-list_n-d-t
            .n-d-t_name
                misa
            .n-d-t_date-time
                時間
        .message-list_coments
            こんばんは！
        .message-list_n-d-t
            .n-d-t_name
                yuzuki
            .n-d-t_date-time
                時間
        .message-list_coments
            おはよう！
    .chat-main_message-forms
        .message-forms_text
            type a message
        .message-forms_send
            <a href="#" class="send">Send</a>