.side-bar
    .side-bar_user-name
        .user-name_icon-box
            .icon-box_name
                yuzuki
            .icon-box_menu
                .icon-box_new-group
                    =link_to '#' do
                        =icon('fas','cog',class:"new")
                .icon-box_edit-user
                    =link_to '#' do
                        =icon('fas','edit',class:"edit")
    .side-bar_group-list
        .group-list_group-name
            techcamp
        .group-list_new-message
            まだメッセージはありません
        .group-list_group-name
            techcamp
        .group-list_new-message
            まだメッセージはありません
        .group-list_group-name
            techcamp
        .group-list_new-message
            まだメッセージはありません