.side-bar
    .side-bar__user-name
        .side-bar__user-name__icon-box
            .side-bar__user-name__icon-box__name
                = current_user.name
            .side-bar__user-name__icon-box__menu
                .side-bar__user-name__icon-box__menu__new-group
                    =link_to edit_user_path(current_user) do
                        =icon('fas','cog')
                .side-bar__user-name__icon-box__menu__edit-user
                    =link_to '#' do
                        =icon('fas','edit')
    .side-bar__group-list
        .side-bar__group-list__group-name
            techcamp
        .side-bar__group-list__new-message
            まだメッセージはありません
        .side-bar__group-list__group-name
            techcamp
        .side-bar__group-list__new-message
            まだメッセージはありません
        .side-bar__group-list__group-name
            techcamp
        .side-bar__group-list__new-message
            まだメッセージはありません