* {
  box-sizing: border-box;
}  
.wrapper{
  display: flex;
  
.side-bar{
  width: 300px;
  height: 100vh;
  .side-bar_user-name{
    background-color: #253141;
    height: 100px;
    width: 100%;
    .user-name_icon-box{
      position: relative;
      top: 40px;
      left: 20px;
      width: 260px;
      height: 20px;
      display: flex;
      .icon-box_name{
        float: left;
        height: 100%;
        width: 100%;
        line-height: 20px;
        color: #ffffff;
        font-weight: bold;
      }
      .icon-box_menu{
        height: 100%;
        width: 60px;
        
      }
        .icon-box_edit-user{
          float: right;
          .edit{
            color: #ffffff;
            margin-right: 5px;
          }
        }
        .icon-box_new-group{
          float: right;
          .new{
            color: #ffffff;
          }
        }
      
    }
  }
  .side-bar_group-list{
    height:  calc(100% - 100px);
    width: 100%;
    background-color: #2f3e51;
    font-weight: bold;
    color: #ffffff;
    padding-top: 20px;
    .group-list_group-name{
      width: 100%;
      margin: 0 20px 5px 20px;
      font-size: 15px;
    }
    .group-list_new-message{
      width: 100%;
      margin: 0 20px 40px 20px;
      font-size: 11px;
    }
  }
}
.chat-main{
  width:  calc(100vw - 300px);
  height: 100vh;
  .chat-main_group-info{
    height: 100px;
    width: 100%;
    background-color:#ffffff;
    padding: 0 40px;
    .group-info_group-box{
      float: left;
      width: 120px;
      height: 100%;
      .group-box_group-name{
        height: 20px;
        color: #333333;
        width: 100%;
        margin: 35px 0 15px 0;
        font-size: 20px;
      }
      .group-box_group-member{
        height: 30px;
        width: 100%;
        color: #999999;
        font-size: 12px;
      }
    }
    .group-info_group-edit{
      float: right;
      position: absolute;
      right: 40px;
      height: 40px;
      width: 72px;
      padding: 0 20px;
      margin-top: 28px;
      font-size: 16px;
      border: solid 1px #38aef0;
      line-height: 40px;
      .edit{
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .chat-main_message-list{
    width: 100%;
    height: calc(100% - 190px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    .message-list_n-d-t{
      display: flex;
      width: 100%;
      height: 16px;
      margin-bottom: 12px;
      .n-d-t_name{
        font-size: 16px;
        color: #333333;
        line-height: 16px;
        height: 100%;
        margin-right: 10px;
        font-weight: bold;
      }
      .n-d-t_date-time{
        color: #999999;
        font-size: 12px;
        height: 100%;
      }
    }
    .message-list_coments{
      color: #434A54;
      font-size: 14px;
      margin-bottom: 46px;
    }
    
  }
  .chat-main_message-forms{
    width: 100%;
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    .message-forms_text{
      background-color: #ffffff;
      height: 50px;
      width:  calc(100vw - 495px);
      margin: 20px 15px 20px 40px;
      line-height: 50px;
      padding: 0 10px 0 10px;
      .text_input{
        float: left;
      }
      .text_picture{
        float: right;
        .form{
          display: none;
        }
      }
    }
    .message-forms_send{
      background-color: #38aef0;
      height: 50px;
      width: 100px;
      margin: 20px 40px 20px 0;
      line-height: 50px;
      text-align: center;
      border: solid 1px #333333;
      .send{
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
}

   
  
  