* {
  box-sizing: border-box;
}  
.wrapper{
  display: flex;
  
.side-bar{
  width: 300px;
  height: 100vh;
  &__user-name{
    background-color: #253141;
    height: 100px;
    width: 100%;
    &__icon-box{
      position: relative;
      top: 40px;
      left: 20px;
      width: 260px;
      height: 20px;
      display: flex;
      &__name{
        float: left;
        height: 100%;
        width: 100%;
        line-height: 20px;
        color: #ffffff;
        font-weight: bold;
      }
      &__menu{
        height: 100%;
        width: 60px;
        
      
        &__edit-user{
          float: right;
          a{
            color: #ffffff;
            margin-right: 5px;
          }
        }
        &__new-group{
          float: right;
          a{
            color: #ffffff;
          }
        }
      
    }
  }
  }
  &__group-list{
    height:  calc(100% - 100px);
    width: 100%;
    background-color: #2f3e51;
    font-weight: bold;
    color: #ffffff;
    padding-top: 20px;
    a{
      color: #ffffff;
      text-decoration: none;
    }
    &__group-name{
      width: 100%;
      margin: 0 20px 5px 20px;
      font-size: 15px;
    }
    &__new-message{
      width: 100%;
      margin: 0 20px 40px 20px;
      font-size: 11px;
    }
  }
}
.chat-main{
  width:  calc(100vw - 300px);
  height: 100vh;
  &__group-info {
    height: 100px;
    width: 100%;
    background-color:#ffffff;
    padding: 0 40px;
    &__group-box {
      float: left;
      width: 120px;
      height: 100%;
      &__group-name {
        height: 20px;
        color: #333333;
        width: 100%;
        margin: 35px 0 15px 0;
        font-size: 20px;
      }
      &__group-member {
        height: 30px;
        width: 100%;
        color: #999999;
        font-size: 12px;
      }
    }
    &__group-edit {
      float: right;
      position: absolute;
      right: 40px;
      height: 40px;
      width: 72px;
      padding: 0 20px;
      margin-top: 28px;
      font-size: 16px;
      border: solid 1px #38aef0;
      line-height: 40px;
      .edit {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__message-list {
    width: 100%;
    height: calc(100% - 190px);
    background-color: #fafafa;
    padding-top: 35px;
    padding-left: 40px;
    overflow: scroll;
    &__n-d-t {
      width: 100%;
      // height: 16px;
      margin-bottom: 40px;
      .flex{
        display: flex;
      }
        &__name {
          font-size: 16px;
          color: #333333;
          line-height: 16px;
          height: 100%;
          margin-right: 10px;
          font-weight: bold;
        }
        &__date-time {
          color: #999999;
          font-size: 12px;
          height: 100%;
        }
    
    }
    &__coments {
      color: #434A54;
      font-size: 14px;
      margin-bottom: 46px;
    }
    
  }
  &__message-forms {
    width: 100%;
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    #new_message{
      display: flex;
      width: 100%;
      .chat-main__message-forms__text {
      background-color: #ffffff;
      height: 50px;
      width:  100%;
      margin: 20px 15px 20px 40px;
      line-height: 50px;
      padding: 0 10px 0 10px;
      position: relative;
      // display: flex;
      &__input{ 
        width: 100%;
        border-style: none;
      }
      &__picture{
        position: absolute;
        right: 10px;
        top: 0px;
        .form{
          display: none;
        }
      }
    }
  }
    &__send{
      background-color: #38aef0;
      height: 50px;
      width: 100px;
      margin: 20px 40px 20px 0;
      line-height: 50px;
      text-align: center;
      border: solid 1px #333333;
      color: #ffffff;
      .send{
        border-style: none;
      }
    }
  }
}
}

   
  
  